* {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0;
  margin: 0 auto;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px 0;
}

.row-filter {
  align-items: flex-start; /* Add this line to align the filter panel to the top */
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.basket-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-bar {
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pod-cell {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2vh;
  box-shadow: 1vh 1vh 3vh black;
  transition: 0.5s ease-out;
}

.pod-cell:hover {
  box-shadow: 0vh 0vh 0vh black;
  cursor: pointer;
}

.pod-cell p {
  font-size: 2vh;
  margin-bottom: 2vh;
}


.clicked {
  border: 1vh solid green;
}