<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/controller.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col">
                <input type="text" class="search-bar" id="search-bar" placeholder="Search...">
              </div>
            </div>
            <div class="row row-filter">
                <div class="col">
                  <div class="pod-grid">
                    {% for key, value in data.items() %}
                    <div class="pod-cell" id = "{{ value.id }}">
                      <p>{{ value.summary }}</p>
                      <h3>Speaker: {{ value.speaker }}</h3>
                      <h4>Podcast Number: {{ value.podNum }}</h4>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>
